<div class="contents row">
  <div class="content_post">
  <p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @post.image %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </p>
    <% if user_signed_in? && current_user.id == @post.user_id %>
      <div class="more">
        <span><%= image_tag 'arrow_top.png' %></span>
        <ul class="more_list">
          <li>
            <%= link_to '編集', edit_post_path(@post.id), method: :get %>
          </li>
          <li>
            <%= link_to '削除', post_path(@post.id), method: :delete %>
          </li>
        </ul>
      </div>
    <% end %>
    <span class="name">
      <a href="/users/<%= @post.user.id %>">
        <span>投稿者</span><%= @post.user.nickname %>
      </a>
    </span>
  </div>
  <div class="my-parts">
    <div class="my-parts-content">
    <ul>
      <li>
        <p>この動画から最も学べたこと：<br><%= @post.question1 %></p>
      </li>
      <li>
        <p>学んだことを実生活にどう活かすか：<br><%= @post.question2 %></p>
      </li>
      <li>
        <p>アウトプット：<br><%= @post.text %></p>
      </li>
    </ul>
	</div>
</div>

  <div class="container">
    <% if current_user %>
      <%= form_with(model: [@post, @comment]) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <%=render partial: "comment", comments: @comments %>
      <% end %>
    </div>
  </div>

</div>